.debug {
  position: relative;
  padding: 4px 6px;
  font-size: 15px;
  color: white;
  background-color: red;
  border-radius: 4px;

  > .type {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
    opacity: 0.5;
    transform: scale(0.8);
    transform-origin: right top;
  }
}